/*-- scss:defaults --*/

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Inferno colors
// viridisLite::viridis(8, option = "inferno", begin = 0.1, end = 0.9)
$blue:    #42159D !default;
$indigo:  #771C6D !default;
$purple:  #480B6A !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$yellow:  #FB9E07 !default;
$green:   #02b875 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Fonts
$font-size-base: 1.0rem;


$h1-font-size: $font-size-base * 2.45;
$h2-font-size: $font-size-base * 1.85;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 0.95rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.95rem;
$footer-font-size: 0.9rem;

$link-color: $red;
$link-hover-color: $yellow;


// Base document colors
$navbar-bg: $blue; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $teal; // highlight color when on a page
$body-bg: $gray-100; // page background
$body-color: $black; // page text
$footer-bg: $purple; // footer
$footer-text: $white; // footer text
$link-color: $pink; // hyperlinks

// Inline code
$code-bg: $gray-200; // inline code background color
$code-color: $gray-900; // inline code text color

// Code blocks
$code-block-bg: $gray-100; // code block background color

// Callouts
// Make callout text and icon bigger
.callout.callout-style-default {
  > div.callout-header,
  > .callout-body {
    font-size: 1.1rem;
  }

  .callout-icon::before {
    height: 1.2rem;
    width: 1.2rem;
    background-size: 1.2rem 1.2rem;
  }
}