/*-- scss:defaults --*/

.gs-learning-outcome {
  padding: 1em 1em 1em 4em;
  margin: 1.5em 0;
  background: #FFF8E1 5px center/2em no-repeat;
  border: 1px solid #E69F00;
  border-left: 6px solid #E69F00;
  background-image: url("images/_icons/learning-outcome.png"); /* your custom icon path */
  background-position: 0.75em 1em;
}

.gs-activity {
  padding: 1em 1em 1em 4em;
  margin: 1.5em 0;
  background: #E3F2FD 5px center/2em no-repeat;
  border: 1px solid #56B4E9;
  border-left: 6px solid #56B4E9;
  background-image: url("images/_icons/activity.png");
  background-position: 0.75em 1em;
}

.gs-webexercise {
  padding: 1em 1em 1em 4em;
  margin: 1.5em 0;
  background: #E0F2F1 5px center/2em no-repeat;
  border: 1px solid #009E73;
  border-left: 6px solid #009E73;
  background-image: url("images/_icons/webexercise.png");
  background-position: 0.75em 1em;
}

.gs-glossary {
  padding: 1em 1em 1em 4em;
  margin: 1.5em 0;
  background: #FFFDE7 5px center/2em no-repeat;
  border: 1px solid #F0E442;
  border-left: 6px solid #F0E442;
  background-image: url("images/_icons/glossary.png");
  background-position: 0.75em 1em;
}